<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td><a href="https://carpentries-incubator.github.io/metagenomics/">Metagenomics</a></td> </tr>
      <tr> <td>09:40</td>  <td><a href="https://carpentries-incubator.github.io/metagenomics/02-webserver/index.html">Web servers</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://datacarpentry.org/shell-genomics/">Introduction to the Command Line</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:10</td>  <td><a href="https://carpentries-incubator.github.io/metagenomics/03-assessing-read-quality/index.html">Assessing Read Quality</a></td> </tr>
      <tr> <td>14:00</td>  <td><a href="https://carpentries-incubator.github.io/metagenomics/04-trimming-filtering/index.html">Trimming and Filtering</a></td> </tr>
      <tr> <td>14:45</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:00</td>  <td> <a href="https://carpentries-incubator.github.io/metagenomics/05-assembly/index.html"> Metagenome Assembly </a></td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td> <a href="https://datacarpentry.org/shell-genomics/">Introduction to the Command Line (continuation)</a> </td> </tr>      
      <tr> <td>09:30</td>  <td> <a href="https://carpentries-incubator.github.io/metagenomics/06-workflow/index.html">Automating an Assembly Workflow</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td> <a href="https://carpentries-incubator.github.io/metagenomics/07-taxonomic/index.html">Taxonomic Assignation </a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://carpentries-incubator.github.io/metagenomics/08-MAGs/index.html">MAGs</a></td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:00</td>  <td><a href="https://carpentries-incubator.github.io/metagenomics/09-diversity-analysis/index.html">Diversity Analysis</a></td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:40</td>  <td>END</td> </tr>
    </table>
  </div>
</div>


